
  .navbar{
    position: fixed;
    width: 100%;
    top: 0;
}
#heading{
    text-align: center;
}
#intro{
    margin: 2rem;
}
form{
    margin: 1rem;
}
.card{
    padding: 1rem;
    margin: 2rem;
}
#section{
  margin: 2rem;
  
}


@media screen and (min-width:40em){
    

form{
    margin: 5rem;
}
.card{
    padding: 1rem;
    margin: 7rem;
}

}

